.container{
    text-align: right;
    border: 1px solid red;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    position: relative;
    padding: 1rem 2rem;
}
.itemImg{
    margin-left: 4rem;
    border-radius: .4rem;
}
.cartItem{
    display: flex;
    width: 50%;
    justify-content: flex-end;

}