.container{
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.container h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3rem;
}
.cardList{
    border: 1px solid blue;
    width: 90%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.total{
    /* border: 1px solid rebeccapurple; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    flex-direction: row-reverse;
    margin-right: 3%;
    margin-bottom: 2rem;

}
.prices{
    color: var(--black-color);
}
.prices + span { 
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.6;
    margin-left: 2rem;
}

.btn{
    position: relative;
    width: 18%;
    padding: 1rem 2rem;
    background: none;
    background: var(--white-lighter-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    border-radius: 1rem;
    box-shadow:7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
     font-size: 1.6rem ;
    cursor: pointer;
    outline: none;
}
.btn:active{
    top: 2px;
}