.container{
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.container h2{

}
.cardList{}

.total{}
.prices{}
.prices span {}

.btn{}
