.container{
    width: 100%;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.container h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 3rem;
}
.cardList{
    border: 1px solid blue;
    width: 90%;
    margin-right: 3%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.total{
    border: 1px solid rebeccapurple;
}
.prices{}
.prices span {}

.btn{}
