.wrapper{
    width: 90%;
    margin: 6rem auto;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid var(--white-darker-color);
    border-radius: 1rem;
    padding: 1rem 2rem;
    background: var(--white-light-color);
}
.content{
    border: 1px solid red;
}
.title{}
.subTitle{}