.wrapper{
    width: 100%;
    height: 80vh;
    position: relative;
    padding: 1rem 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 0;
}

.container{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container.men{
    flex-direction: row-reverse;
}
.imgSection{
    position: relative;
    display: flex;
    align-items: center;
    width: 30rem;
    height: 100%;
    margin-right: 2rem;
}
.imgSection img {
    min-width: 100%;
    height: 100%;
    background-size: 100%;
    object-fit: cover;
    border-radius: .6rem;

}

.figure{
    position: relative;
    left: -4rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    transition: all 0.4s ease-in;
    min-width: 100%;
    height: 100%;
    border-radius: .6rem;

}

.figcaption{
    color:var(--white-light-color);
    font-size: 2.7rem;
    position: absolute;
    bottom: 0;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in;
    backface-visibility: hidden;
}

.figure:hover .figcaption{
    opacity: 1;
    visibility: visible;
    transform: translateY(-8rem) scale(1.01);
    z-index: 2;
}

.figure::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(1,3,31);
    background: linear-gradient(0deg, rgba(1,3,31,0.75) 10%, rgba(252, 255, 235, 0.351) 100%);
    transform: translateY(100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.1s ease-in;
    border-radius: .6rem;
}

.figure:hover::after{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}


.slider{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    overflow: hidden;
    padding-left: 5rem;
    position: relative;
}




@media only screen and (max-width:992px){
}

@media only screen and (max-width:786px){
    .container, .container.men{
        flex-direction: column;
    }
    .imgSection{
        margin: 1rem auto;
        width: 100%;
        height: 40%;
    }
}

@media only screen and (max-width:575px){
    
}