.cardContainer{
    width: 100%;
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.orderDescription{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.state{
    display: flex;
    align-items: center;
    justify-content: center;
}
.state span{
    font-size: 1.2rem;
    font-weight: 500;
}