.orderWrapper{
    border: 1px solid red;
    width: 90%;
    /* margin: 4rem auto; */
    display: flex;
    align-items: center;
}
.orderContainer{
    width: 90%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid var(--white-darker-color);
    border-radius: 1rem;
    padding: 1rem 2rem;
    background: var(--white-light-color);
    margin-bottom: 2rem;
}
.title{}
.orders{}


