
.card{
    position: relative;
    max-width: 26rem;
    height: 35rem;
    transition: all .3s ease;
    border-radius: 1rem;
    box-shadow: 0px 2px  4px 0 rgba(0,0,0,0.15);
    cursor: pointer;
}
.imgBx{
    position: relative;
    width: 100%;
    height: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem ;
    z-index: 2;
    border-radius: 1rem;
    cursor: pointer;
    border: 1px solid blue;
}


.card:hover{
    transform: translateY(-1rem);
    box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.15);

}

.card:hover .imgBx img{
    transform: translateY(-2rem) scale(1.2);
}
.card:hover .imgBx::before {
    height: 100%;
}

.imgBx::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 70%;
    background-color: var(--tertiary-lighter-color);
    top: 0%;
    left: 0%;
    z-index: -1;
    border-radius: 1rem 1rem 0 0 ;
    transition: height .3s linear;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.15);

}
.imgBx img{
    width: 120%;
    height: 120%;
    transition: all 0.3s linear;
    border-radius: 1rem;
    border: 1px solid red;
    /* object-fit: cover; */

}

.contentBx{
    position: relative;
    width: 100%;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--black-light-color);
    transition: all .2s ease;
}

.cardInfo{
    cursor: pointer;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    padding-bottom: 1rem;
}
.cardInfo strong{
    font-size: 1.9rem;
    font-weight: 600;
    padding-bottom: 1.25rem;
    color: var(--black-color);

}
.cardInfo span {
    font-size: 1.4rem;
    font-weight: 500;
}
.cardPriceCTA{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 2rem;
    transform: translateY(1.5rem);
    z-index: 2;
}
.cardPriceCTA span{
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: var(--black-color);
}
.buy {
    cursor: pointer;
}
.btn{
    background: transparent;
    border: none;
    outline: none;
}

@media only screen and (max-width:992px){
}

@media only screen and (max-width:786px){
}

@media only screen and (max-width:575px){
}