
.card{
    position: absolute;
    width: 95%;
    height: 35rem;
    background-color: var( --white-lighter-color);
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0px 2px 6px 1px rgba(90, 2, 2, 0.15);
}
.card::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color:var(--white-darker-color) ;
    top: -50%;
    transform: skewY(345deg);
    transition: all 0.3s;
}

.card:hover::before{
    top: -70%;
    transform: skewY(385deg);
}

.card .imgBx{
    position: relative;
    width: 100%;
    height: 70% ;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    z-index: 1;
    transition: all 0.3s ease;
    border: 1px solid red;
    object-fit: contain;


}


.card .imgBx .imgWrapper{
    position: absolute;
    width: 90%;
    height: 100%;
    /* object-fit: cover; */
    /* border: 1px solid red; */
    transition: all 0.4s linear;
}

.card:hover .imgBx{
    top: -2rem;
    /* transform: scale(.8); */
    /* max-width: 80%; */
    max-height: 60%;
}
.contentBx{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}
.contentBx h3{
    color: var( --black-light-color);
    font-size: 1.8rem;
    letter-spacing: 1px;
    font-weight: 500;
}

.contentBx .price{
    font-size: 2rem;
    color: var( --black-light-color);
    font-weight: 500;
    letter-spacing: 1px;
    transform: translateY(-2rem);
}

 .contentBx .buy{
     position: relative;
     width: 55%;
     height: 20%;
     padding: 1rem 4rem;
     top: 2rem;
     opacity: 0;
     color: var(--white-color);
     background-color: var(--primary-color);
     border-radius: 2.5rem;
     font-size: 1.6rem;
     font-weight: 500;
     cursor: pointer;
     transition: all 0.5s linear;
     display: flex;
     justify-content: center;
     align-items: flex-end;
 }

 .card:hover .contentBx,.card:hover .buy {
     top: -2rem;
     opacity: 1;
     
 }

 

 @media only screen and (max-width:992px){
    .card{
        height: 30rem;
        min-width: 18rem;

    }
}

@media only screen and (max-width:786px){
    .card{
        width: 100%;
        min-width: 18rem;
        height: 30rem;
    }
}

@media only screen and (max-width:575px){
    .card{
        width: 100%;
        min-width: 15rem;
        height: 32rem;
    }
}