.container{
    border: 1px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 0;
}

.orderReview{
    border: 1px solid blue;
    width: 90%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.title{
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black-color);
    margin: 0 1rem 1rem 0;
}
.listItems{
    border: 1px solid blue;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.listItem{
    border: 1px solid red;
    display: flex;
    align-items: center;

}


.currentOrders{
    border: 1px solid blue;
    width: 90%;
}

.olderOrders{
    border: 1px solid blue;
    width: 90%;
}