.wrapper{
    /* margin-top: 7rem; */
    /* border: 1px solid red; */
    width: 100%;
    /* height: ; */
    position: relative;
}
.nav{
    position: relative;
    width: 18%;
    height:150vh;
    right: 1rem;
    /* overflow: hidden; */
    margin-top: 2rem;
    float: right;
}
.navWrapper{    
    position: relative; 
    width: 100%;
    height: 100%;
}
.container{
    /* border: 1px solid red; */
    width: 82%;
    height: 100%;
}