.wrapper{
    /* margin-top: 7rem; */
    /* border: 1px solid red; */
    width: 100%;
    /* height: ; */
    /* position: relative; */
}
.nav{
    position: absolute;
    width: 18%;
    height:100%;
    right: .5rem;
    overflow: hidden;
}
.container{
    /* border: 1px solid red; */
    width: 82%;
    height: 100%;
}