.wrapper{
    /* margin-top: 7rem; */
    /* border: 1px solid red; */
    width: 100%;
    height: 100vh;
}
.nav{
    width: 18%;
    height:100%;
    float: right;
    overflow: hidden;
}
.container{
    border: 1px solid red;
    width: 82%;
    height: 100vh;
}