.wrapper{
    /* margin-top: 7rem; */
    /* border: 1px solid red; */
    width: 100%;
    height: max-content;
    position: relative;
}
.nav{
    position: absolute;
    width: 18%;
    height:100%;
    right: 0;
    overflow: hidden;
    border: 1px solid red;
}
.container{
    /* border: 1px solid red; */
    width: 82%;
    height: 100%;
}