.wrapper{
    border: 1px solid rgb(255, 255, 255);
    width: 100%;
    height:100% ;
    position: relative;
}
.nav{
    /* border: 1px solid red; */
    position: absolute;
    width: 18%;
    height:100vh;
    right: .5rem;
    top: .5rem;
    z-index: 5;
    /* margin-top: 1rem; */
    /* float: right; */
}

.container{
    /* border: 1px solid blue; */
    width: 81%;
    height: 100%;
}

@media only screen and (max-width:992px){
    .wrapper{
        padding: 0;
        margin: 0;
    }
    .nav{
        padding: 0;
        margin: 0;
        width: 24%;
    }
    .container{
        padding: 0;
        margin: 0;
        width: 78%;
    }
}


@media only screen and (max-width:786px){
   
    .container{
        width: 95%;
    }
    .nav{
        width: 8%;
        border: 1px solid blue;
    }
    .nav.active{
        width: 30%;
    }
    .container.active{
        /* width: 80%; */
    }

}

@media only screen and (max-width:575px){
    .container{

    }
    .nav{
        width: 80%;
    }
    .nav.active{
        width: 40%;
    }
}