.mainCategory{
  position: relative;
  width: 90%;
  margin: 9rem auto;
  /* border: 1px solid black; */
  height: 100%
}

.detailWrapper{
  width: 100%;
  position: relative;
  margin: 0rem auto;
  margin-top: 9rem;

}

.shopContainer{
  width: 100%;
  margin-top: 9rem;
}


.notFoundWrapper{
  /* border: 1px solid red; */
  width: 90%;
  margin: 0rem auto;
  margin-top: 10rem;
  height: 90vh;
  display: flex;
  justify-content:center;
  /* padding: 2rem 4rem; */
}
.notFoundContainer{
  /* border: 1px solid red; */
  width: 60%;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
}