.container{
    width: 100%;
    /* border: 1px solid red; */
    height: 95vh;
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    background: var(--white-darker-color);
}
.header{
    width: 100%;
    height: 12vh;
    margin: 4rem auto;
}
.header h1{
    margin: 0rem auto;
    font-family: 'Great Vibes', cursive;
    font-size: 5.5rem;
    font-weight: 600;
    transform: rotate(-27deg);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #05325b;
    
    
}
.formWrapper{
    width: 50%;
    margin: 2rem auto;
}
.form{
    width: 90%;
    margin: 0 auto;
    padding: 4rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--black-color);
    background: var(--white-color);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, .15);
    border-radius: 1rem;
}

.form h1{
    font-size: 3rem;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 4rem;
    color: currentColor;
}


.form input{
    display: block;
    width: 90%;
    margin: 0 auto;
    max-width: 100%;
    text-align: right;
    margin-top: 2rem;
    padding: 1.4rem 2rem;
    border: none;
    /* border: 1px solid var(--black-lighter-color); */
    border-radius: 1rem;
    transition: 0.2s ease, all 0 linear;
    outline: none;
    color: var(--black-color);
    font-size: 1.6rem;
}

.form input.inValid{
    border: 1px solid red;
}

.form p{
    position: relative;
    font-size: 1.4rem;
    font-weight: 500;
    right: 3rem;
    margin: 1rem 0 2rem 0;
}

.loginBtn{
    margin: 0 auto;
    width: 90%;
    padding: 1.3rem 2rem;
    background: none;
    border: none;
    position: relative;
    border-radius: 1rem;
    cursor: pointer;
    background: var(--primary-color);
    color: var(--white-color);
    font-size: 1.6rem;
    font-weight: 500;
    z-index: 1;
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    7px 7px 20px 0px rgba(0,0,0,.1),
    4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
}
.loginBtn:hover{
    /* top: 4px; */
    background: var(--primary-dark-color);
}

/* .loginBtn:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
    background-color: var(--primary-light-color);
    border-radius: 1rem;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all .4s ease-out;
    opacity: 0;
  }

  .loginBtn:hover:after {
    left: 0;
    width: 100%;
    opacity: 1;
  } */
  .loginBtn:active {
    top: 2px;
  }
.loginBtn:active{
    top: 2px;
}

@media only screen and (max-width:992px){
    .formWrapper{
        width: 60%;
        margin: 0 auto;
    }
}
@media only screen and (max-width:786px){
    .container{
        margin-top: 10rem;
    }
    .formWrapper{
        width: 80%;
        margin: 0 auto;
    }
}
@media only screen and (max-width:575px){
    .formWrapper{
        width: 90%;
        margin: 0 auto;
    }
}