.wrapper{
    width: 18%;
    float: right;
    height: 100%;
    overflow: hidden;
}
.container{
    position:relative;
    border: 1px solid red;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 2rem 0rem;
    outline: none;
    background-color: var(--white-light-color);
    border: 1px solid var(--white-darker-color);
    border-radius: 1rem;
    box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, .1);
}
.profileWrapper{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.userName{
    /* border: 1px solid red; */
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.6;
    margin-top: 1rem;
    color: var(--black-color);
    letter-spacing: 2px;
}
.email{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4;
    color: var(--black-light-color);
    letter-spacing: -.25px;
    margin-bottom: 3rem;

}
.img{
    border-radius: 50%;
    object-fit: cover;
}
.navWrapper{
    border: 1px solid red;
    width: 100%;
}

.navItems{
    border: 1px solid red;
    width: 100%;
}
.navItem{
    list-style: none;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2;
    /* margin-bottom: 2rem; */
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: flex-end; */
    /* padding-right: 2rem; */
    background: var(--white-darker-color);
    width: 100%;
}
.logoutWrapper{
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    padding: 1rem 0;
}
.logoutWrapper a{
    margin-bottom: 2rem;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6;
    /* border: 1px solid red; */
    padding: 1rem 3rem;
    border-radius: 1rem;
    background: var(--white-darker-color);
}