.wrapper{
    width: 18%;
    float: right;
    padding: 1rem;
    height: 100%;
    /* margin: 3rem 1rem; */

}
.container{
    position:relative;
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem 0rem;
    outline: none;
    background-color: var(--white-lighter-color);
    border: 1px solid var(--white-darker-color);
    border-radius: 1rem;
    box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, .1);
}
.profileWrapper{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* margin-bottom: 1rem; */
    /* justify-content:space-between; */
    align-items: center;
}
.userName{
    /* border: 1px solid red; */
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.6;
    margin-top: 1rem;
    color: var(--black-color);
    letter-spacing: 2px;
}
.email{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4;
    color: var(--black-light-color);
    letter-spacing: -.25px;
    margin-bottom: 2rem;

}
.img{
    border-radius: 50%;
    object-fit: cover;
}
.navWrapper{
    /* border: 1px solid red; */
    width: 100%;
}
.logoutWrapper{
    position: absolute;
    margin-bottom: 2rem;
    bottom: 0;
}