
.header{
    width: 100%;
    height: 8rem;
    text-align: right;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black-light-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
    background: var(--white-color);
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
}
.nav{
    width: 88%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.rightNav{
    width: 45%;
    padding: 0.4rem 0;
    margin-right: 4rem;
}
.navItems{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 4rem 1rem 0.2rem 0rem;
}

.navItem {
    display: inline-block;
    position: relative;
    text-decoration: none;
    list-style: none;
    text-align: center;
    cursor: pointer;
    transition: all .7s;
}
.navItem:hover{
    color: var(--primary-color);
}
.navItem:after{
    content: '';
    position: absolute;
    height: 0.3rem;
    right: 0px;
    border-radius: 1rem;
    background-color: var(--primary-color);
    width: 100%;
    bottom: -1rem;
    transform:scaleX(0);
    transform-origin: bottom right;
    transition: all 0.4s ease-out;
}

.navItem:hover::after{
    transform: scale(1);
    transform-origin: bottom right;
}


.navItem.active {
    color: var(--black-color);
    transition: all .5s linear;
}

.navItem.active::after{
    transform: scale(1);
    height: .3rem;
    transform-origin: bottom right;
}



.leftNav{
    width: 72%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 3rem 1rem 0.2rem 0;
}


.cart{
    margin: 0 1rem 0 0 ;
    cursor: pointer;
}

.line{
    height: 2.2rem;
    border: 1px solid var(--tertiary-dark-color);
    margin: 0 1rem 0rem 0rem;
}


.btn{    
    padding: .7rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    background: none;
    border: none;
    min-width: 18%;
    height: 3.7rem;
    margin: 0 1rem 0rem 0rem;
    /* border: 1.6px solid  var(--black-lighter-color); */
    box-shadow:inset 0px 1px 1px 0px rgba(255,255,255,.4),
    1px 2px 6px 0px rgba(0,0,0,.1),
    0px 1px 2px 0px rgba(0,0,0,.1);
    border-radius: .8rem;
    cursor: pointer;
    position: relative;
    background: var(--white-light-color);
    /* transition: all .5s ease-in-out; */
}
.btn:hover{
    /* border: 1.4px solid  var(--tertiary-dark-color); */
}

.btn span{
    font-family: 'Almarai';
    font-weight: 500;
    font-size: 1.6rem;
    margin: 0rem .7rem ;
    color: var(--black-color);
}

.loginLogo{
    transform: rotateY(180deg);
    position: absolute;
}
.logo{
    font-family: 'Great Vibes', cursive;
    width: 10%;
    font-size: 5.5rem;
    font-weight: 600;
    transform: rotate(-27deg);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #05325b;
}




.navContainer {
    display: flex;
    align-items: flex-start;
  }
  
  .usernameBtn {
    /* padding: .7rem 1rem; */
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
    background: none;
    border: none;
    width: 14rem;
    height: 3.7rem;
    margin: 0 1rem 0rem 0rem;
    /* border: 1.6px solid  var(--black-lighter-color); */
    box-shadow:inset 0px 1px 1px 0px rgba(255,255,255,.4),
    1px 2px 6px 0px rgba(0,0,0,.1),
    0px 1px 2px 0px rgba(0,0,0,.1);
    border-radius: .8rem;
    cursor: pointer;
    position: relative;
    background: var(--white-light-color);
  }
  
  .username {
    font-size: 1.4rem;
    font-weight: 400;
  }
  
  .navDropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    /* padding: .7rem 0rem; */
    padding: .3rem;
    background: none;
    border: none;
    width: 14rem;
    /* height: 6rem; */
    margin-top: .5rem;
    background: var(--white-light-color);
    color: var(--black-color);
    border-radius: 0.8rem ;
  
  
    box-shadow: var(--shadow30, 0 0 #0000), var(--ring-shadow, 0 0 #0000),
      var(--shadow30);
  }
  
  .linkName {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 200ms;
    width: 100%;
    padding:.5rem;
    /* border: 1px solid red; */
    font-size: 1rem;
    line-height: 1.25rem;
    border-radius: 0.25rem;
    cursor: pointer;
    text-align: right;
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--black-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .linkName span{
    margin-right: .7rem;
}
  
  .linkName:hover {
    background: var(--white-darker-color);
}

  .lineWrapper {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem ;
  }








@media only screen and (max-width:1111px){
  .btn{
      padding: 0;
  }
  .logo{
      font-size:5rem ;
  }
  .nav{
    width: 95%;
}
}

@media only screen and (max-width:992px){
.logo{
    width: 7%;
    font-size: 3.5rem;
}

.nav{
    width: 95%;
}
}



@media only screen and (max-width:768){

}


@media only screen and (max-width:600px){
    .header{
        justify-content: space-between;

    }
    .nav{
        border: 1px solid red;
        padding: 0;
        margin: 0;
    }
    .rightNav{
        border: 1px solid blue;
        margin-right: 0;
    }


}